@font-face {
  font-family: "MuseoSansRegular";
  src: url("MuseoSansRegular/MuseoSansRegular.eot");
  src: url("MuseoSansRegular/MuseoSansRegular.eot?#iefix")format("embedded-open");
  src: url("MuseoSansRegular/MuseoSansRegular.woff")format("woff");
  src: url("MuseoSansRegular/MuseoSansRegular.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansBold";
  src: url("MuseoSansBold/MuseoSansBold.eot");
  src: url("MuseoSansBold/MuseoSansBold.eot?#iefix")format("embedded-open");
  src: url("MuseoSansBold/MuseoSansBold.woff")format("woff");
  src: url("MuseoSansBold/MuseoSansBold.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansBolditalic";
  src: url("MuseoSansBolditalic/MuseoSansBolditalic.eot");
  src: url("MuseoSansBolditalic/MuseoSansBolditalic.eot?#iefix")format("embedded-open");
  src: url("MuseoSansBolditalic/MuseoSansBolditalic.woff")format("woff");
  src: url("MuseoSansBolditalic/MuseoSansBolditalic.ttf")format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansBlack";
  src: url("MuseoSansBlack/MuseoSansBlack.eot");
  src: url("MuseoSansBlack/MuseoSansBlack.eot?#iefix")format("embedded-open");
  src: url("MuseoSansBlack/MuseoSansBlack.woff")format("woff");
  src: url("MuseoSansBlack/MuseoSansBlack.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansBlackitalic";
  src: url("MuseoSansBlackitalic/MuseoSansBlackitalic.eot");
  src: url("MuseoSansBlackitalic/MuseoSansBlackitalic.eot?#iefix")format("embedded-open");
  src: url("MuseoSansBlackitalic/MuseoSansBlackitalic.woff")format("woff");
  src: url("MuseoSansBlackitalic/MuseoSansBlackitalic.ttf")format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansItalic";
  src: url("MuseoSansItalic/MuseoSansItalic.eot");
  src: url("MuseoSansItalic/MuseoSansItalic.eot?#iefix")format("embedded-open");
  src: url("MuseoSansItalic/MuseoSansItalic.woff")format("woff");
  src: url("MuseoSansItalic/MuseoSansItalic.ttf")format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansLight";
  src: url("MuseoSansLight/MuseoSansLight.eot");
  src: url("MuseoSansLight/MuseoSansLight.eot?#iefix")format("embedded-open");
  src: url("MuseoSansLight/MuseoSansLight.woff")format("woff");
  src: url("MuseoSansLight/MuseoSansLight.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansLightitalic";
  src: url("MuseoSansLightitalic/MuseoSansLightitalic.eot");
  src: url("MuseoSansLightitalic/MuseoSansLightitalic.eot?#iefix")format("embedded-open");
  src: url("MuseoSansLightitalic/MuseoSansLightitalic.woff")format("woff");
  src: url("MuseoSansLightitalic/MuseoSansLightitalic.ttf")format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansMedium";
  src: url("MuseoSansMedium/MuseoSansMedium.eot");
  src: url("MuseoSansMedium/MuseoSansMedium.eot?#iefix")format("embedded-open");
  src: url("MuseoSansMedium/MuseoSansMedium.woff")format("woff");
  src: url("MuseoSansMedium/MuseoSansMedium.ttf")format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MuseoSansMediumitalic";
  src: url("MuseoSansMediumitalic/MuseoSansMediumitalic.eot");
  src: url("MuseoSansMediumitalic/MuseoSansMediumitalic.eot?#iefix")format("embedded-open");
  src: url("MuseoSansMediumitalic/MuseoSansMediumitalic.woff")format("woff");
  src: url("MuseoSansMediumitalic/MuseoSansMediumitalic.ttf")format("truetype");
  font-style: italic;
  font-weight: normal;
}
