header
  .container
    .logo.header__logo
      span Партнерская сеть
      span по продаже
      span трендовых товаров
    nav.main-nav
      .nav-mobile
        span.nav-mobile__line.nav-mobile__line--top
        span.nav-mobile__line.nav-mobile__line--middle
        span.nav-mobile__line.nav-mobile__line--bottom
      ul.main-nav__list
        li
          a(href="#doing").scroll-link Чем вы будете заниматься
        li
          a(href="#why").scroll-link Преимущества работы с нами 
        li
          a(href="#invite").scroll-link Контакты
