header
  .container
    .logo.header__logo
      span Партнерская сеть
      span по продаже
      span трендовых товаров
    nav.main-nav
      ul.main-nav__list
        li
          a(href="#") Чем вы будете заниматься
        li
          a(href="#") Преимущества работы с нами 
        li
          a(href="#") Контакты
