extends ../layout/main

block title
	| Главная страница

block content
	include ../sections/top-banner.pug
	include ../sections/about us.pug
	include ../sections/doing.pug
	include ../sections/price.pug
	include ../sections/why.pug
	include ../sections/review.pug
	include ../sections/region.pug
	include ../sections/invite.pug
