//Шрифты

@mainfont: "MuseoSansRegular","Arial",sans-serif;
@boldfont: "MuseoSansBold","Arial",sans-serif;
@mediumfont: "MuseoSansMedium","Arial",sans-serif;
@boldestfont: "MuseoSansBlack","Arial",sans-serif;
@lightfont: "MuseoSansLight","Arial",sans-serif;

//Цвета

@grayColor: #f6fafb;
@sliderControlsColor: #717afa;
