header
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    padding: 20px 0;

    border-bottom: 1px solid rgba(255, 255, 255, .2);
    .container
    {
        display: -webkit-flex;
        display:     -ms-flex;
        display:         flex;

        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
}

.main-nav__list
{
    li
    {
        display: inline-block;

        margin-right: 70px;

        vertical-align: middle;
    }

    a
    {
        color: #fff;
    }
}
