section.about-us
  .container
    .about-us__img
      img(src="static/img/general/robot.png" alt="robot")
    .about-us__text
      p Мы занимаемся поставкой и продажей трендовых товаров уже 5 лет. 
      p Постоянно тестируем новые товары, выявляем тренды и поставляем их напрямую от поставщика.
      p Наши маркетологи разрабатывают и запускают сайты, настраивают рекламные каналы.
