section.doing#doing
  .container
    h2.section-title Чем Вы будете заниматься
    span.doing-descr Вы будете продавать популярные товары через собственный интернет-магазин:
    .doing-icons
      .js-doing-icons
        .doing-icons__item.doing-icons__seo
          span СЕО, контекстная реклама, социальные сети, Авито
        .doing-icons__item.doing-icons__shop
          span Интернет-магазин
        .doing-icons__item.doing-icons__call
          span Звонок-клиенту
        .doing-icons__item.doing-icons__send
          span Определяете товар
        .doing-icons__item.doing-icons__cash
          span Получаете деньги
