section.price.gray-bg
  .container
    h2.section-title Наши пакеты
    .price-slider
      .price-slider-prev
      .price-slider-next
      .js-price__slider
        .price-item 
          h3.price-item__title Старт
          ul.g-list
            li Настройка и подключение сайт Landing page
            li Обучение 
            li Первая партия товара на 
              b 20 000р.
            li Подключение 1 канала рекламы
              span.price-list__descr  Яндекс-директ
          .price-item__bottom
            span.price-item__number 50 000 руб.
            a(href="#").g-btn Отправить заявку

        .price-item 
          h3.price-item__title Стандарт
          ul.g-list
            li Настройка и подключение сайт Landing page
            li Первая партия товара на 
              b 25 000р.
            li Подключение 2 канала рекламы
              span.price-list__descr  Яндекс-директ и Google Adwords
            li Подключение новых трендовых товаров
              b со скидкой 30%
            li Аккаунт-поддержка от нашего маркетингового агенства на первый месяц
          .price-item__bottom
            span.price-item__number 75 000 руб.
            a(href="#").g-btn Отправить заявку

        .price-item 
          h3.price-item__title Премиум
          ul.g-list
            li Настройка и подключение сайт Landing page
            li Обучение 
            li Первая партия товара на 
              b 35 000р.
            li Подключение 5 каналов рекламы
              span.price-list__descr  Яндекс-дирирект, Google Adwords,таргетированная реклама в соц сетях, РСЯ, продвижение в Instagram
            li Подключение новых трендовых товаров со скидкой 50%
            li Аккаунт-поддержка от нашего маркетингового агенства на первый месяц
          .price-item__bottom
            span.price-item__number 100 000 руб.
            a(href="#").g-btn Отправить заявку            
