section.region
  .container
    img(src="static/img/general/man.png" alt="man").region-man__pic
    h2.section-title Мы открываем одно представительство в регионе
    .open-form__wrap
      form.open-form.open-form__banner
        span.form-title Проверьте,<br> свободен ли Ваш город?
        input(type="text",name="name", placeholder="Имя").g-input
        input(type="text",name="phone", placeholder="Телефон").g-input
        input(type="submit",value="Отправить заявку").g-btn
      .open-form__success
          span.form-title Спасибу за Вашу заявку!
          span Спасибо за Вашу заявку!<br>Наш менеджер свяжется <br> с Вами в ближайшее время!
