section.review.gray-bg
  .container
    h2.section-title Отзывы наших клиентов
    .review-slider
      .review-slider__next
      .review-slider__prev
      .js-review__slider
        //- .review-item__content
        //-   .review-item
        //-     <iframe width="560" height="315" src="https://www.youtube.com/embed/avM_UsVo0IA" frameborder="0" allowfullscreen></iframe>
        //- .review-item__content
        //-   .review-item
        //-     <iframe width="560" height="315" src="https://www.youtube.com/embed/3dm_5qWWDV8" frameborder="0" allowfullscreen></iframe>
        //- .review-item__content
        //-   .review-item
        //-     <iframe width="560" height="315" src="https://www.youtube.com/embed/Xsp3_a-PMTw" frameborder="0" allowfullscreen></iframe>
        //- .review-item__content
        //-   .review-item
        //-     <iframe width="560" height="315" src="https://www.youtube.com/embed/BF1DQr5dKW8" frameborder="0" allowfullscreen></iframe>
        //- .review-item__content
        //-   .review-item
        //-     <iframe width="560" height="315" src="https://www.youtube.com/embed/BF1DQr5dKW8" frameborder="0" allowfullscreen></iframe>
        //- .review-item__content
        //-   .review-item
        //-     <iframe width="560" height="315" src="https://www.youtube.com/embed/BF1DQr5dKW8" frameborder="0" allowfullscreen></iframe>
