section.top-banner
  h1 Стань нашим партнером <br> и получи интернет-магазин в твоем регионе
  .open-form__wrap
    form.open-form.open-form__banner
      input(type="text",name="name", placeholder="Имя").g-input
      input(type="text",name="phone", placeholder="Телефон").g-input
      input(type="submit",value="Отправить заявку").g-btn
    .open-form__success
      span.success-text Спасибо за Вашу заявку!<br>Наш менеджер свяжется с Вами<br>в ближайшее время!
      span.success-text__mobile Спасибо за Вашу заявку!<br>Наш менеджер свяжется с Вами<br>в ближайшее время!
